target/*
ivyrepo/*
sbtboot/*
project/target/*
project/.ivy/*
project/.boot/*
project/project/target/*

# Maven
target

# IntelliJ
.idea
.idea_modules

# Eclipse
.cache
.classpath
*.swp
.project
.settings
.target
